/*
color: #FFF4E8, #FFFCF9, #372F35, #D0C8CE
fonts: font-family: 'Satoshi', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Satoshi', sans-serif;
}

body {
    background-color: #FFF4E8;
}

/*HEADER*/

header {
    width: 60%;
    margin: 0 auto;
    height: 4rem;
    margin-top: 2rem;
}

.container-nav {
    display: flex;
    justify-content: center;
    background-color: #FFFCF9;
    border-radius: 20px;
    width: 350px;
    margin: 0 auto;
    padding: .5rem 0;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.container-nav li {
    list-style-type: none;
}

.container-nav a {
    text-decoration: none;
    color: #413941;
    margin: 0 1.3rem;
    font-weight: 600;
    font-size: 1.2rem;
}

main {
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 30% 70%;
}

/*TECH STACK*/

.tech-stack {
    width: 80%;
    margin: 0 auto;
    background-color: #FFFCF9;
    border-radius: 25px;
    padding: 1rem 0;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

#tech-stack-title {
    font-size: 2.5rem;
    text-align: center;
}

.container-stack {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.container-stack p {
    font-weight: bold;
}

.stack {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #E3DEE3;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
} 

.stack img {
    height: 30px;
    margin-right: 1rem;
}

.html-css-pic {
    display: flex;
    flex-direction: column;
}

.git-github-pic {
    display: flex;
    flex-direction: column;
}

#stack-git-github {
    border: none;
}

/*nav link hover effect*/

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #413941;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/*CONTENT*/

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-up {
    display: grid;
    grid-template-columns: 30% 70%;
}

.github img {
    height: 230px;
    border-radius: 25px;
    float: left;
}

.welcome {
    background-color: #FFFCF9;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.welcome h3 {
    font-size: 4rem;
    padding-top: 3rem;
}

.welcome p {
    font-size: .9rem;
    padding: 0 1rem;
}

.content-down {
    display: grid;
    grid-template-columns: 70% 30%;
}

.location {
    height: 230px;
    background-image: url(/assets/schloss2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: .7;
    border-radius: 25px;
    text-align: center;
}

.location-text {
    padding-top: 4rem;
    opacity: 0;
}

.location-text p{
    font-weight: bold;
    font-size: 2.5rem;
}

#location-text-heimat {
    margin-top: -.6rem;
}

.location:hover {
    opacity: .4;
    transition: .4s;
}

.location-text:hover {
    opacity: 1;
    transition: .4s;
    color: black;
}

.spotify img {
    height: 230px;
    border-radius: 25px;
    float: right;
}

/*grow effect*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1600px) {
    .content {
        justify-content: space-around;
    }
    
    .github img {
        height: 200px;
    }

    .spotify img {
        height: 200px;
    }

    .location {
        height: 200px;
    }
}

@media only screen and (max-width: 1450px) {
    .content {
        justify-content: space-around;
    }
    
    .github img {
        height: 180px;
        margin-top: 3rem;
    }

    .content-down {
        display: none;
    }

    .content-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .tech-stack {
        width: 400px;
        margin: 0 auto;
    }
    
    #tech-stack-title {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1300px) {
    .github img {
        height: 160px;
    }
    
    #tech-stack-title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1130px) {
    .github img {
        height: 140px;
    }
    
    #tech-stack-title {
        font-size: 1.5rem;
    }

    .container-stack p {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .tech-stack {
        width: 300px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 700px) {
    .container-nav {
        width: 350px;
        margin: 0 auto;
        background-color: #FFFCF9;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }
}

@media only screen and (max-width: 600px) {
    .container-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 270px;
        background-color: #FFF4E8;
        box-shadow: none;
        border-radius: 0px;
        padding-bottom: .7rem;
    }

    .container-nav a {
        margin-bottom: .8rem;
    }
}